<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Second Step</p>
    <form action="" method="post">
        <input type="text" id="pk"><br>
        <input type="file" id="poster" onchange="image_to_base64(this)"><br>
        <input type="text" id="duration" placeholder="hh:mm:ss"><br>
        <button type="submit" id="submit">Save</button>
    </form>
    <script src="/static/scripts/second.js"></script>
</body>
</html>